<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTydAJbmSD6ZdnTv-jc-mSGm-wuJA6x5g</string>
	<key>GCM_SENDER_ID</key>
	<string>584743494623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adoptaAmigo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>prueba-46e03</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-46e03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584743494623:ios:80b94a2ba49f36223e1a6a</string>
	<key>DATABASE_URL</key>
	<string>https://prueba-46e03-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>